@import "global";

.panel-backet{
    position: relative;
    .target{
        color: $white-color;
        background-color: scale-color($color: $primary-color, $lightness: -30%);
        cursor: pointer;
        .label, .number{
            padding: 10px;            
        }
        .label{
            padding-left: 20px;
            i, svg{
                margin-right: 5px;
            }
        }
        .number{
            border-left: 1px solid $primary-color;
            text-align: center;
        }
    }
    .content{
        position: absolute;
        right: 0;
        width: 200%;
        background-color: $white-color;
        padding: 20px;
    }
    &.open{
        .target{
            .number{
                color: $primary-color;
                background-color: $white-color;
            }
        }
    }
}