.template__container{
	position: relative;
	margin: 5px;

	.price{
		color: $light-blue-color;
		font-size : rem-calc(16);
	}
	.content{
		text-align:center;
		//border: 1px solid #888888;
		@include box-shadow( 0px 0px 10px 0px rgba(136,136,136,1));
		.image{
			text-align: center;
			padding: 10px;
			img{
				display: inline;

				max-height: 200px;
				//max-width : 160px;

				padding-bottom: 10px;
				
			}
		}
		.separator{
			width: 50%;
			border-bottom: 1px $light-black-color solid;

			margin: auto;
		}
		.name{
			text-align: center;
			font-size : rem-calc(13);

		}
	}
	.hover{
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
		width : 100%;

		text-align: center;

		@include box-shadow(0 2px 1px #888888);

		.link{
			height:55%;

			background: rgba(33, 150, 243, 0.6);

			.pastille{
				font-family: $font-roboto-medium;
				font-size: rem-calc(12);

				width: 70px;
				height: 70px;

				display: inline-block;

				margin-top: 30px;
				padding: 12px 10px;

				color: $black-color;
				background-color: $white;

				overflow-wrap:normal;
				@include radius(100%);

				&:hover{
					color: $black-color;
				}
			}
		}
		.infos{
			padding-top: 15px;

			font-family: $font-roboto-medium;
			font-size: rem-calc(14);

			background-color: $white-color;
			color: $black-color;

			height: 45%;

			.name{
				font-size: rem-calc(11);
			}
			.colors{
				margin-top: 5px;
				text-align: left;
				.name{
					font-size: rem-calc(12);
				}
				.color{
					border: 0.5px $light-black-color solid;
					display: inline;
				}
			}
		}
	}
	&:hover{
		.hover{
			visibility:visible;
		}
	}
}