.article__container{

	.error{
		.alert{
			display: block;

			font-size : rem-calc(18);
		}
	}
	img.main{
		width: 100%;
		height: auto;
	}
	
	.views{
		.view{
			display: inline-block;
			padding: 2px;
			width: 33%;

			a{
				display: block;
				width: 100%;

				//border: 1px solid $light-black-color;

				&.active{
					border: 2px solid $light-blue-color;
				}
			}
		}
	}

	.dropdown{
		position: relative;
		.dropdown-title{
			border: 1px $light-blue-color solid;
			padding: 10px;

			position: relative;

			i{
				color: $light-blue-color;
				float:right;
			}
		}
		.dropdown-content{
			width: 100%;

			z-index: 5;
			position: absolute;

			text-align: left;
			padding: 5px;
			border: 1px solid $black-color;

			background-color: $white-color;

			ul{
				margin: 0;
			}
		}
	}
	.price{
		font-weight: bold;
		font-size: rem-calc(20);
		color: $light-blue-color;

		.small{
			font-size: rem-calc(10);
		}
	}

	.selection{
		padding-top: 10px;
	}
	.appearances{
		padding: 0;
		a{
			display: block;
			width: 100%;

			border: 1px solid $light-black-color;

			&.active{
				border: 2px solid $blue-color;
			}
		}
		img{
			display: block;
			height: auto;
			width: 100%;
		}
		.dropdown-title{
			img{
				border: 1px solid $light-black-color;

				display:inline;
				width : auto;
				height : auto;
			}
		}
		.appearance{
			padding: 2px;

			display: inline-block;
		}
	}
	.sizes{
		padding: 0;

		.size{
			padding: 2px;
			display: inline-block;
			text-align: center;
			a{
				display: inline-block;
				min-width: 40px;
				padding: 10px;
				margin: 0;

				background-color: $white-color;
				border: 1px solid $light-black-color;
				color: $blue-color;

				&.active{
					background-color: $blue-color;
					color: $white-color;
				}
			}
		}
	}
	
	.action{
		width: 100%;

		padding-top: 15px;
		text-align: center;

		a{
			i{
				color: $white-color;
				position: relative;
			}
		}
	}

	.content{
		color: $light-black-color;
		font-size: rem-calc(15);
	}
}