.article__container{

	.error{
		.alert{
			display: block;

			font-size : rem-calc(18);
		}
	}
	img.main{
		width: 100%;
		height: auto;
	}
	
	.views{
		.view{
			display: inline-block;
			padding: 2px;
			width: 33%;

			a{
				display: block;
				width: 100%;

				//border: 1px solid $light-black-color;

				&.active{
					border: 2px solid $light-blue-color;
				}
			}
		}
	}

	.dropdown{
		border: 1px $light-blue-color solid;
		padding: 10px;
		i{
			color: $light-blue-color;
			float:right;
		}
	}
	.dropdown-content{

	}
	.price{
		font-weight: bold;
		font-size: rem-calc(20);
		color: $light-blue-color;

		.small{
			font-size: rem-calc(10);
		}
	}
	.appearances{
		a{
			display: block;
			width: 100%;

			border: 1px solid $light-black-color;

			&.active{
				border: 2px solid $blue-color;
			}
		}
		img{
			display: block;
			height: auto;
			width: 100%;
		}
		.dropdown{
			img{
				border: 1px solid $light-black-color;

				display:inline;
				width : auto;
				height : auto;
			}
		}
		.appearance{
			padding: 2px;

			height: 40px;
			width: 40px;

			display: inline-block;
		}
	}
	.sizes{
		.size{
			padding: 2px;
			display: inline-block;
			a{
				min-width: 40px;
				padding: 10px;
				&.active{
					background-color: $blue-color;
				}
			}
		}
	}
	
	.action{
		width: 100%;

		padding-top: 15px;
		text-align: center;

		a{
			i{
				color: $white-color;
				position: relative;
			}
		}
	}

	.content{
		color: $light-black-color;
		font-size: rem-calc(15);
	}
}