.widget__account{
	#accountShop{
		#header-html{
			display: none !important;
		}
		#department-filter{
			display: none !important;
		}
		#sprd-content{
			display: none !important;
		}
		#footer-html{
			display: none !important;
		}
		#footer{
			display: none !important;
		}

		.navigation{
			border: none;
		}
	}
}