.widget__account{
	.unauthenticated, .authenticated{
		text-align: center;
	}
	.unauthenticated .button{
		width: 100%;
	}
	
	a{
		color: $black-color;
	}

	.hello{
		font-family: $big-font;
		font-size: rem-calc(25);
	}

	.my-account, .connection{
		margin-bottom: 10px;
	}
	.my-account{
		display: inline-block;
		position: relative;
		width: 100%;

		.my-account-panel{
			@include radius(0 0 5px 5px);
		}
		ul{
			list-style: none;

			margin: 0;
			padding: 0;
			li{
				a{
					display: block;
					padding: 7px;
					&:hover{
						text-decoration:underline;
					}
				}
			}
		}
	}
	.connection-panel{
		left: 0;
		form{
			margin:0;
		}
	}

	.account-panel{
		position: absolute;
		z-index: 10;
		width: 100%;

		padding: 15px;
		@include radius(5px);

		border: 1px solid $gray-color;
		background-color: $light-gray-color;

		text-align: center;
	}
}