.widget-menu__container{
	.title{
		padding: 15px;
		margin: 0;
		background-color: #f7f6f6;
		color: #5a616b;

		font-size: 14px;

		text-align: center;
	}
	.content{
		background-color: $bg-panel-light;
	}
}