<div class="module__container design__articles__container">
	<h3 class="module__title">
		{{vm.design.name}}

		<span ng-if="vm.design.idCustomShop" class="custom">
			<!--<a href="/designer/{{vm.design.idCustomShop}}">Personnaliser</a>-->
		</span>
	</h3>
	<templateloader ng-if="vm.loader"></templateloader>
	<div class="module__content" ng-if="!vm.loader">
		<div class="filters row align-justify">
			<div class="types small-2 columns" ng-click="vm.openGender = !vm.openGender">
				<div class="content" ng-class="(vm.openGender === true) ? 'active' : ''">
					<ul class="items">
						<li class="item" ng-click="vm.setGenderId(0)" ng-class="(vm.genderId === 0) ? 'active' : ''">
							Tous
						</li>
						<li class="item" ng-repeat="type in vm.getGenderType()" ng-click="vm.setGenderId(type.id)" ng-class="(vm.genderId === type.id) ? 'active' : ''">
							{{type.name}}
						</li>
					</ul>
					<span class="opener">
						<i class="fa fa-chevron-down" aria-hidden="true" ng-show="vm.openGender === false"></i>
						<i class="fa fa-chevron-up" aria-hidden="true" ng-show="vm.openGender === true"></i>
					</span>
				</div>
			</div>
			<div class="sorts small-2 columns" ng-click="vm.openSort = !vm.openSort">
				<div class="content" ng-class="(vm.openSort === true) ? 'active' : ''">

					<ul class="items">
						<li class="item" ng-click="vm.setSortId(0)" ng-class="(vm.sortId === 0) ? 'active' : ''">
							Pertinence
						</li>
						<li class="item" ng-click="vm.setSortId(1)" ng-class="(vm.sortId === 1) ? 'active' : ''">
							Prix
						</li>
					</ul>
					<span class="opener">
						<i class="fa fa-chevron-down" aria-hidden="true" ng-show="vm.openSort === false"></i>
						<i class="fa fa-chevron-up" aria-hidden="true" ng-show="vm.openSort === true"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="row small-collapse article-list__container">
			<span ng-repeat="article in vm.articles" ng-if="vm.isVisibleArticle(article)" class="small-4 columns">
				<templatearticle article="article"></templatearticle>
			</span>
		</div>

	</div>
</div>