<div class="module__container design__container">
	<h3 class="module__title">
		{{vm.design.name}}

		<span ng-if="vm.design.idCustomShop" class="custom">
			<!--<a href="/designer/{{vm.design.idCustomShop}}">Personnaliser</a>-->
		</span>
	</h3>
	<templateloader ng-if="vm.loader"></templateloader>
	<div class="module__content" ng-if="!vm.loader">
		
		<div>
			<ul class="small-block-grid-3 article-list__container">
				<li ng-repeat="article in vm.articles" ng-if="vm.isVisibleArticle(article)">
					<templatearticle article="article"></templatearticle>
				</li>
			</ul>

		</div>
	</div>
</div>