<div class="article__widget">
	<h4 class="article__title">
		<a href="{{vm._application.getUrl('Design')}}/{{vm.design.url}}">
			{{vm.design.name}}
		</a>
	</h4>
	<div class="article__content">
		<div class="row collapse">
			<div class="small-12 columns design">
				<a href="{{vm._application.getUrl('Design')}}/{{vm.design.url}}">
					<img ng-src="{{vm.design.thumbnail}}" />
				</a>
			</div>
			<div class="small-12 columns">
				<span class="category" ng-repeat="category in vm.design.categories">
					<a href="{{vm._application.getUrl('Category')}}/{{category.url}}">
						{{category.name}}
						<i class="">|</i>
					</a>
				</span>
			</div>
		</div>
	</div>
</div>