<div class="module__container shipping__container">
	<h1 class="module__title">
		Prix des livraison
	</h1>
	<div class="module__content row">
		<div ng-repeat="header in vm.headers" class="small-12 columns">
            <a ng-click='vm.goToCountry(header)' 
                ng-class"disable : vm.isLettreActive(header)">
                {{header}}
            </a>
		</div>                
		<div ng-repeat="country in vm.countries" class="small-4 columns">
			<div class="country">
				<h6 class="country__title" ng-click="vm.openClose(country)">
					{{country.name}}
					<!--<i class="fa fa-plus" ng-show="country.open"></i>
					<i class="fa fa-minus" ng-show="!country.open"></i>-->
				</h6>
				<div class="country__content">
					<div ng-repeat="cost in country.regionCost.rangeCost" class="cost">
						<span class="range">
							<span>
								{{cost.rangeDown}}<i class="fa fa-eur"></i>
							</span>
							<span>
								à
							</span>
							<span ng-if="cost.rangeUp > 0">
								{{cost.rangeUp}}<i class="fa fa-eur"></i>
							</span>
							<span ng-if="cost.rangeUp === 0">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</span>
						</span>
						<span class="price">
							<span ng-if="cost.price > 0">
								{{cost.price}} <i class="fa fa-eur"></i>
							</span>
							<span ng-if="cost.price === 0">
								Gratuit
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>