.basket__container{
	.basket__title{
		color: $white-color;
		cursor: pointer;
		.name{
			padding: 15px;

			background-color: $blue-color;
			border: 1px $light-blue-color solid;

			i{
				margin: 5px 10px 0 0;
			}
		}
		.count{
			padding: 15px 25px;
			background-color: $blue-color;
			border: 1px $light-blue-color solid;
		}
	}
}