.module__container{
	background-color: white;
	.module__title{
		margin: 0;
		padding: 10px;
		.custom{
			float: right;
			font-size: rem-calc(14);
			a{
				color: $light-gray-color;

				&:hover{
					color: $dark-gray-color;
				}
			}
			
			
		}
	}
	.module__content{
		padding: 5px;
	}


}

.article-list__container{
	margin: 0px;
	padding: 5px;
	
	a{
		color: black;
	}
	.list{
		
		text-align: center;
		li{
			padding: 0px;
			
		}
	}
	.article__container{
		margin: 5px;
		border: 1px solid $light-gray-color;
		text-align: center;
		img{
			padding: 10px;

			height: 150px;
		}
		.name{
			font-weight: normal;
			font-size: rem-calc(14);
		}
		.price{
			color: $blue-color;
			font-weight: bold;
		}
		button{
			@include radius(5px);
			padding: 10px;
			background-color: $dark-gray-color;
		}
	}
}

.account__container, .checkout__container{
	.explanation{
		color: $gray-color;
		font-size: rem-calc(14);
		text-align: center;
	}
	#iframe-container{
		overflow: hidden;
	}
	#iframe{
		height: 1000px;
	}
}
