.main-menu__container{
	ul{
		margin: 0;

		
		background-color: $bg-panel-dark;
		@include radius(0 0 10px 10px);
		li{
			list-style: none;

			text-align: center;
			color: white;

			position: relative;

			padding: 0;

			border-right: 1px solid black;
			a{
				display: block;
				width: 100%;
				padding: 15px;
				
			}
			ul.submenu{
				position: absolute;
				width: 100%;
				z-index: 10;
				display: none;

				background-color: #212121;
				li{
					list-style: none;
				}
			}

			&:hover{
				
				ul.submenu{
					display: block;
				}
			}
		}
		li:last-child{
			border: none;
		}
	}
}