.promotions__container{
	
}

.promotion__container{
	.header{
		background-color: $dark-bleu-color;
		color: $white-color;
		padding: 5px;

		margin-bottom: 5px;

		.date{
			text-align: right; 
		}
	}
	.banner{
		max-width: 50%;

		padding: 10px;

		float: left;
	}

	.link{
		clear: both;
		text-align: center;
		a{
			display: inline-block;

			width: 50%;
			@include radius(5px);

			padding: 5px;

			color: $black-color;
			background-color: $gray-color;
		}
	}
}

.promotion__best__container{
	background-color : $dark-yellow-color;
}