<div id="header">
  <div class="row align-middle align-justify">
    <div class="columns small-2">
      LOGO
    </div>
    <div class="columns  small-6 menu-link">
        <links></links>
    </div>
  </div>
  <div class="row align-middle">
      <div class="columns small-3"></div>
      <div class="columns small-4">
          <panel-search></panel-search>
      </div>
      <div class="columns">
          <panel-account></panel-account>
      </div>
      <div class="columns">
        <panel-basket></panel-basket>
      </div>
  </div>
</div>
