<div class="basket__container">
	<div class="basket__title" ng-click="vm.showHideBasket()">
		<i class="fa fa-shopping-basket fa-4x"></i>
		<div class="count">{{vm.getNbItems()}}</div>
	</div>
	<div class="basket__content" ng-if="vm.showBasket">

		<div class="articles">
			<div ng-if="vm.getNbItems() > 0">
				<div class="article" ng-repeat="basketItem in vm.basket.basketItems">
					<div class="row collapse">
						<div class="small-2 columns no-padding">
							<img src="{{basketItem.pictureLink}}" alt="{{basketItem.description}}" />
						</div>
						<div class="small-5 columns">
							<div class="description">{{basketItem.description}}</div>
							<div class="appearance">{{basketItem.appearanceName}}</div>
							<div class="size">{{basketItem.sizeName}}</div>
							<div class="size price-unit">{{basketItem.price}} <i class="fa fa-eur" aria-hidden="true"></i></div>
						</div>
						<div class="small-3 columns no-padding">
							<div class="row collaspe quantity">
								<div class="small-3 columns no-padding">
									<span class="prefix" ng-click="vm.addQuantity(basketItem, -1)"><i class="fa fa-minus" aria-hidden="true"></i></span>
								</div>
								<div class="small-6 columns no-padding">
									<input type="text" ng-model="basketItem.quantity" ng-change="vm.update(basketItem)" />
								</div>
								<div class="small-3 columns no-padding">
									<span class="postfix" ng-click="vm.addQuantity(basketItem, 1)"><i class="fa fa-plus" aria-hidden="true"></i></span>
								</div>
								<div class="small-12 columns no-padding">
									<div class="button button-action delete" ng-click="vm.addQuantity(basketItem, 0)"><i class="fa fa-trash" aria-hidden="true"></i> supprimer</div>
								</div>
							</div>
						</div>
						<div class="small-2 columns">
							<div class="price">{{basketItem.price * basketItem.quantity}} <i class="fa fa-eur" aria-hidden="true"></i></div>
						</div>
					</div>

				</div>
				<div class="summary">
					<div class="row collapse subtotal">
						<div class="small-10 columns text">
							Sous-total:
						</div>
						<div class="small-2 columns value">
							{{vm.basket.priceItems}} <i class="fa fa-eur" aria-hidden="true"></i>
						</div>
					</div>
					<div class="row collapse shipping">
						<div class="small-10 columns text">
							Frais de port:
						</div>
						<div class="small-2 columns value">
							{{vm.basket.priceShipping}} <i class="fa fa-eur" aria-hidden="true"></i>
						</div>
					</div>
					<div class="row collapse total">
						<div class="small-10 columns text">
							Total
							<span class="ttc">
								ttc
							</span>
							:
						</div>
						<div class="small-2 columns value">
							{{vm.basket.priceTotal}} <i class="fa fa-eur" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="empty" ng-if="vm.getNbItems() === 0">
				Votre panier est vide
			</div>
			
		</div>
		<div class="bottom row collapse">
			<div class="small-3 columns continue">
				<button class="button button-action" ng-click="vm.showHideBasket()">Continuer mes achats</button>
			</div>
			<div class="small-3 columns delivery">
				Livraison: 4 à 6 jours ouvrables
			</div>
			<div class="small-3 columns payement">
				<div class="price">{{vm.basket.priceTotal}} <i class="fa fa-eur" aria-hidden="true"></i></div>
				<div class="extra">ttc</div>
				<div class="extra">livraison incluse</div>
			</div>
			<div class="small-3 columns order">
				<a class="button button-player" ng-class="{disabled: vm.getNbItems() === 0}" href="{{(vm.getNbItems() === 0) ? '#' : vm.basket.checkoutLink}}">Commander</a>
			</div>
		</div>
	</div>
</div>