<div class="DesignList__container CategoryDesigns__container">
	<h3 class="title">{{vm.design.name}}</h3>
	<div ng-if="vm.design.idCustomShop">
		<a href="/designer/{{vm.design.idCustomShop}}">Custommiser le design</a>
	</div>
	<div ng-repeat="type in vm.types | filter:{ type: '1' }">
		<a href="#" ng-click="vm.addRemoveType(type, 1)">
			{{type.name}}{{type.active}}
		</a>
	</div>

	<div ng-repeat="type in vm.types | filter:{ type: '2' }">
		<a href="#" ng-click="vm.addRemoveType(type, 2)">
			{{type.name}}{{type.active}}
		</a>
	</div>
	<ul class="small-block-grid-3 list">
		<li ng-repeat="product in vm.products" ng-if="vm.isActiveProduct(product)">
			<div class="article">
				<a href="/product/!#!-A{{product.shopId}}">
					<img ng-src="{{product.thumbnail}}" />
					<span class="name">{{product.name}}</span>
					<p class="content">{{product.content.substring(0, 50) + "..."}}</p>
					<span class="name">{{product.price}}</span>
				</a>
			</div>
		</li>
	</ul>
</div>