<div class="module__container design__container">
	<h3 class="module__title">
		{{vm.design.name}}

		<span ng-if="vm.design.idCustomShop" class="custom">
			<a href="/designer/{{vm.design.idCustomShop}}">Personnaliser</a>
		</span>
	</h3>
	<div class="module__content">
		<span ng-repeat="category in vm.mainCategories">
			<a class="button back" href="/category/{{category.id}}">
				<i class="fa fa-reply"></i>Catégorie {{category.name}}
			</a>
		</span>

		<div class="filters">
			<div class="group">
				<span ng-repeat="type in vm.types | filter: { type: '1' }" class="filter"
					  ng-class="{'actif': type.active === true }">
					<a href="#" ng-click="vm.addRemoveType(type, 1)">
						{{type.name}}
					</a>
				</span>
			</div>

			<div class="group">
				<span ng-repeat="type in vm.types | filter: { type: '2' }" class="filter"
					  ng-class="{'actif': type.active === true }">
					<a href="#" ng-click="vm.addRemoveType(type, 2)">
						{{type.name}}
					</a>
				</span>
			</div>
		</div>

		<div>
			<ul class="small-block-grid-4 article-list__container">
				<li ng-repeat="product in vm.products" ng-if="vm.isActiveProduct(product)">
					<div class="article__container">
						<a href="/product/{{product.id}}/{{product.shopId}}#!-A{{product.shopId}}">
							<div class="row collapse">
								<div class="small-12 columns">
									<img ng-src="{{product.thumbnail}}" />
								</div>
								<div class="small-12 columns">
									<span class="name">{{product.name}}</span>
								</div>
								<div class="small-12 columns">
									<span class="price">{{product.price}} <i class="fa fa-eur"></i></span>
								</div>
								<div class="small-12 columns">
									<button>Voir le produit</button>
								</div>
							</div>
						</a>
					</div>
				</li>
			</ul>

		</div>
	</div>
</div>