.promotions__container, .promotion__container{
	.promotion__container{
		.content{
			margin: 20px 0;
			position:relative;

			font-size: rel-calc(16);
			font-weight: $font-small;

			color: $black-color;

			.banner{
				width: 50%;
				height: auto;
				float: left;

				padding: 0 10px 10px 0;
			}
		}
	}
	.clear{
		clear: both;
	}
}