<div class="widget__account">
	<div ng-if="vm.isAuthenticated">
		<div class="authenticated">
			<div class=" my-account">
				<a ng-click="vm._accountPanelOpen = !vm._accountPanelOpen" class="button button-player expanded">
					Mon compte
				</a>
				<div class="account-panel">
					<div ng-if="vm._accountPanelOpen === true" class="account-panel-content my-account-panel">
						<ul>
							<li><a href="{{vm._application.getUrl('AccountOrder')}}" ng-click="vm._accountPanelOpen = !vm._accountPanelOpen"><i class="fa fa-shopping-cart"></i> Mes commandes</a></li>
							<li><a href="{{vm._application.getUrl('AccountDetail')}}" ng-click="vm._accountPanelOpen = !vm._accountPanelOpen"><i class="fa fa-user"></i> Mes details</a></li>
							<li><a ng-click="vm.logout()"><i class="fa fa-unlock"></i> Deconnection</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="!vm.isAuthenticated">
		<div class="unauthenticated">
			<div class="connection" ng-class="vm._connectionPanelOpen === true ? 'active' : ''">
				<a ng-click="vm._connectionPanelOpen = !vm._connectionPanelOpen">
					Connection
				</a>
				<div class="account-panel">
					<div ng-if="vm._connectionPanelOpen === true" class="account-panel-content connection-panel">
						<div class="pseudo">
							<label>
								Pseudo ou email
								<input type="text" placeholder="Pseudo ou email" ng-model="vm._loginForm.pseudo">

								<span ng-if="vm._loginForm.errorPseudo" class="error">{{vm._loginForm.errorPseudo}}</span>
							</label>
						</div>
						<div class="password">
							<label>
								Mot de passe
								<input type="password" placeholder="Mot de passe" ng-model="vm._loginForm.password">

								<span ng-if="vm._loginForm.errorPassword" class="error">{{vm._loginForm.errorPassword}}</span>
							</label>
						</div>
						<div class="forget">
							<a hre="#">
								Mot de passe oublié?
							</a>
						</div>
						<div class="error">
							<span ng-if="vm._loginForm.errorServeur" class="error">{{vm._loginForm.errorServeur}}</span>
						</div>
						<div class="submit">
							<button class="button button-action expanded" ng-click="vm.submit()" ng-class="{disable: vm._loader}">
								<span ng-if="vm._loader"><i class="fa fa-spinner fa-spin"></i></span>
								<span ng-if="!vm._loader">Se Connecter</span>
							</button>
						</div>
						<div class="register">
							<a class="button expanded" href="{{vm._application.getUrl('AccountSubscription')}}">
								<span>S'inscrire</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="row">
			<div class="small-offset-5 small-6 columns subscribe">
				<a href="{{vm._application.getUrl('AccountSubscription')}}" class="button button-action">
					Inscription
				</a>
			</div>
		</div>-->
		</div>
	</div>
</div>
