$black-color: #263238;
$light-black-color: #37474F;

$gray-color: #798489;

$blue-color: #1976D2;
$light-blue-color: #2196F3;

$white-color : #ffffff;

$link-color: $white-color;

$error-color: red;



$font-roboto: 'Roboto', sans-serif;
$font-lato : 'Lato', sans-serif;

$font-bold: 700;
$font-small: 300;
$font-thin: 100;

body{
	background: $white-color;
	font-size: rem-calc(16);
	font-family : $font-lato;
	color: $black-color;
}
.page{
	.page-content{
		padding:50px;
	}
}
a{
	color: $link-color;
	text-decoration: none;
	&:hover{
		color: $blue-color;
	}
}

h1, h2, h3, h4, h5,h6{
	color: $black-color;
	font-family: $font-roboto;

	a{
		color: $black-color;
		&:hover{
			color: $black-color;
		}
	}
}
h1{
	font-size: rem-calc(30);
}
h3{
	font-size: rem-calc(18);
}
.loader__container{
	text-align: center;
}

@mixin button-action() {
  background-color: $light-blue-color;
  color : $white-color;
}
.button-action{
	@include button-action();
}

iframe{
	width: 100%;
	height: 100%;
	border: none;
}