$black-color: #263238;
$light-black-color: #37474F;

$blue-color: #1976D2;
$light-blue-color: #2196F3;

$white-color : #ffffff;

$link-color: $white-color;

$font-roboto-blod: 'Roboto-Bold', sans-serif;
$font-roboto-medium: 'Roboto-Medium', sans-serif;

$font-lato : 'Lato', sans-serif;
$font-lato-bold : 'Lato-bold', sans-serif;

body{
	background: $white-color;
	font-size: rem-calc(16);
	font-family : $font-lato;
	color: $black-color;
}
.page{
	.page-content{
		padding:50px;
	}
}
a{
	color: $link-color;
	text-decoration: none;
	&:hover{
		color: $blue-color;
	}
}


.loader__container{
	text-align: center;
}

@mixin button-action() {
  background-color: $light-blue-color;
  color : $white-color;
}
.button-action{
	@include button-action();
}