<div class="module__container promotion__container">
	<h1 class="module__title">Promotion - {{vm.promotion.name}}</h1>
	<div class="module__content promotion__container">
		<h3 class="header">
			<span class="row">
				<span class="small-8 columns">
					<a href="{{vm._application.getUrl('Promotion')}}/{{vm.promotion.id}}">
						{{vm.promotion.name}}
					</a>
				</span>
				<span class="small-4 columns date">
					<span class="start">
						{{vm.CoreLib.timestampToDate(vm.promotion.startDate)}}
					</span>
					<span class="separator">
						au
					</span>
					<span class="end">
						{{vm.CoreLib.timestampToDate(vm.promotion.endDate)}}
					</span>
				</span>
			</span>
		</h3>
		<div class="content">
			<div class="banner">
				<img src="{{vm.promotion.image}}" />
				<div class="link" ng-if="vm.isPromotionLink()">
					<a class="button button-action expended" ng-click="vm.goToPromotion(vm.promotion)">
						Vers la promotion
					</a>
				</div>
			</div>
			{{vm.promotion.content}}
		</div>

	</div>

</div>