.design__articles__container{
	.filters{
		.types, .sorts{
			
			position: relative;
			display: inline-block;
			padding: 0;

			.content{
				border: 1px solid $blue-color;
				padding: 10px;

				.items{
					padding: 0px;
					margin: 0px;

					display: inline-block;
					//text-align:center;
					.item{
						display: none;
						cursor: pointer;

						&.active{
							display: block;
						}
					}		
				}
				.opener{
					position: absolute;
					top: 10px;
					right: 10px;
					padding-left: 10px;
					color: $blue-color;
				}

				&.active{
					position: absolute;
					z-index: 2;
					width: 100%;
					background-color: $white-color;
					.items{
						.item{
							display: block;

							&.active, &:hover{
								color: $blue-color;
							}
						}
					}
				}
			}

		}
	}
}