.type-menu__container{
	.disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }
	.active{
		& > .content{
			& > a{
				&.child-link, &.parent-link{
					color: $blue-color;
				}
			}
		}
	}
	ul.children{
		//display: none;
		margin-left: 20px;

		&.open{
			display: block;
		}
	}
}