<div class="Slider__container">
	<div class="row collapse">
		<div class="small-9 columns promotions__slider">
			<div ng-repeat="promotion in vm.promotions" repeat-end="vm.onEnd()">
				<a herf="#" ng-click="vm.goToPromotion(promotion)">
					<img src="{{promotion.image}}" />
				</a>
			</div>
		</div>
		<div class="small-3 columns promotions_content">
			<div ng-repeat="promotion in vm.promotions" repeat-end="vm.onEnd()" class="item">
				<div class="text">{{promotion.name}}</div>
				<div class="short">{{promotion.short}}</div>
			</div>
		</div>
	</div>
</div>