.footer_container {
	margin: 10px 0;

	.columns{
		text-align: center;
	}
	.footer_header{
		@include border-radius( 0 0 10px 10px );

		background-color: $bg-menu-top;
		padding: 10px;

		color: $link-color;

		font-size: 14px;
	}
	.footer_content{
		background-color: white;
		.contact{
			padding: 10px;
			img{
				padding: 10px;
				display: inline-block;
				max-width: 60px;
				max-height: 60px;
			}
			.logo{
				a{
					display: block;
					width: 100%;
				}
				img{
					max-width: 100%;
					max-height: 100px;
					padding: 0;
					width: 400px;
				}
			}
		}
		.payement{
			h5{
				margin: 5px;
			}
			img{
				display: inline-block;
				max-width: 60px;
				max-height: 60px;
			}
		}
		.spreadshirt{
			a{

				width: 100%;
				margin-top: 10px;

				color:$color-bleu;
			}
			img{
				
				margin-top: 10px;

				width: 80%;
			}
		}
	}
	
}
